absl-py
altair
annotated-doc
annotated-types
anthropic
anyio
asttokens
attrs
audioop-lts
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
comtypes
contourpy
cycler
debugpy
decorator
distro
docopt
docstring_parser
executing
faiss-cpu
fastapi
filelock
Flask
Flask-Cors
Flask-Login
Flask-SQLAlchemy
flatbuffers
fonttools
fsspec
gitdb
GitPython
greenlet
h11
hf-xet
httpcore
httptools
httpx
huggingface_hub
idna
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
jiter
joblib
Js2Py
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
mpmath
narwhals
nest-asyncio
networkx
nltk
numpy
openai
opencv-contrib-python
opencv-python
packaging
pandas
parso
pillow
pipwin
platformdirs
plotly
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
PyAudio
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyjsparser
pyparsing
pypdf
pypiwin32
PyPrind
pySmartDL
python-dateutil
python-dotenv
python-multipart
pyttsx3
pywin32
PyYAML
pyzmq
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
sentence-transformers
setuptools
shellingham
six
smmap
sniffio
sounddevice
soupsieve
SpeechRecognition
SQLAlchemy
stack-data
standard-aifc
standard-chunk
starlette
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typer
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
watchdog
wcwidth
websockets
Werkzeug
